<div class='container'>
	<div class="row">

		<div ng-repeat='coupon in coupons' class="col s6 m4">
      <div class="card-panel teal">
        <p class="white-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </p>
        <p class="chip center" style="display:block">User Submitted</p>
      </div>
    </div>

	</div>
</div>